@model bool
@{
    ViewBag.Title = "Register";
}

<h2>Registration</h2>
@if(Model == true)
{
    <p>Congratulations! Your new account has been created!</p>        
}
else
{
    <p>Your account has not been created!</p>
}
